/* estilos para contenedor principal del calendario */
.contenedor-calendario {
    display: flex; 
    padding: 20px; 
    flex-wrap: wrap; /* aqui lo que hacemos es ajustar de elementos */
    position: relative; 
    margin-top: 1.2vh;
}

.vista-mensual {
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    font-size: 0.9em;
}

/* aqui ajustamos el tamaño del calendario mensual */
.vista-mensual #calendario-mes {
    width: 100%; 
    max-width: 300px; 
}

.fc-toolbar {
    display: flex;
    justify-content: space-between; /* aqui ponemos los botones a los extremos */
    align-items: center;
    width: 100%;
}

/* aqui personalizamos los botones prev y next */
.fc-prev-button, .fc-next-button {
    background-color: white; 
    border: none; 
    color: #333; 
    font-size: 2em; 
    cursor: pointer; 
    padding: 10px 15px; 
    transition: color 0.3s; 
}

.fc-prev-button:hover, .fc-next-button:hover {
    color: #666; 
}

/* aqui ponemos los estilos para el título del mes */
.fc-toolbar-title {
    text-align: center;
    flex-grow: 1; /* ocupamos el espacio para centrar el texto */
    font-size: 1.5em; 
}

/* estilos para los días del calendario mensual */
.fc-daygrid-day-number {
    color: black;
}

.fc-col-header-cell-cushion {
    color: black !important;
}

.fc-col-header-cell {
    color: black !important;
}

.vista-semanal {
    flex: 2;
    margin-left: 20px;
    margin-top: 4.5vh;
}

.encabezado-semana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    color: black;
}



.hora {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
    min-height: 40px;
    text-align: center;
    font-weight: bold;
    color: black;
}

.celda-dia {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
    min-height: 40px;
    color: black;
}

/* estilos para los eventos */
.evento {
    margin: 5px 0;
    padding: 5px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
}

.evento.rojo {
    background-color: red;
}

.evento.morado {
    background-color: purple;
}

.evento.verde {
    background-color: green;
}

.evento.azul {
    background-color: blue;
}

/* aqui estan los estilos para el contenedor del botón */
.btn-container {
    position: absolute; 
    top: 10px; 
    right: 20px; 
    /* z-index: 10;  */
}

/* estilos para el botón de agregar nueva agenda */
.btn-agregar {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 20px;
    padding: 10px 15px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 1em; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

#icon-agendas-agregar {
    font-size: 1em;
}

.btn-agregar:hover {
    background-color: #45a049; 
}

/* estilos moviles sencillos */
@media (max-width: 768px) {
    .contenedor-calendario {
        flex-direction: column; /* aqui cambiamos las columna en pantallas pequeñas */
    }

    .vista-mensual, .vista-semanal {
        width: 100%; 
        margin-left: 0; 
    }

    .fc-toolbar {
        flex-direction: column; /* aqui colocamos los botones en columna */
        align-items: center; 
    }

    .encabezado-semana {
        grid-template-columns: repeat(2, 1fr); /* ajustamos las columnas en vista semanal */
    }

    .cuadricula-semana {
        grid-template-columns: repeat(2, 1fr); /* ajustamos las columnas en vista semanal */
    }
}