#contenedor_principal {
    display: flex;
    flex-direction: column;
    width: 100%;
}

    #contenedor_principal #contenedor_filtros {
        display: flex;
        width: 100%;
        padding: 1rem 0;
        justify-content: end;
        column-gap: 10px;
    }

        #contenedor_principal #contenedor_filtros .filtro{
            align-items: center;
            border: 1px solid #d8d8d8;
            border-radius: 13px;
            background: white;
            display: flex;
            font-size: 17px;
            gap: 0.5rem;
            padding: 0 10px;
            height: 40px;
            width: clamp(220px, 20%, 600px);
            
        }

            #contenedor_principal #contenedor_filtros .filtro input, select{
                border: none;
                font-size: 17px;
                outline: none;
                width: 100%;
            }

            #contenedor_principal #contenedor_filtros .filtro ion-icon{
                font-size: 25px;
            }


        #contenedor_principal .btn-agenda{
            align-items: center;
            border: none;
            border-radius: 13px;
            background-color: var(--color-secundario);
            display: flex;
            justify-content: center;
            height: 40px;
            padding: 0 8px;
            width: 40px;
        }

        #contenedor_principal #btn_crear_agenda_mobile{
            display: none;
            height: 60px;
            left: 80%;
            position: fixed;
            top: 88.5%;
            width: 60px;
            z-index: 20;
        }
            #contenedor_principal .btn-agenda ion-icon{
                color: white;
                font-size: 25px;
            }

#contenedor_fecha_actual{
    align-items: center;
    display: flex;
    gap: 0.5em;
    margin-bottom: 16px;
    padding-left: 35px;
}

    #contenedor_fecha_actual h1 {
        color: var(--color-terciario);
        font-size: clamp(34px, 80%, 70px);
        margin: 0;
    }

    #contenedor_fecha_actual p {
        margin: 0;
        font-size: clamp(14px, 80%, 28px);
    }

    #contenedor_fecha_actual ion-icon{
        font-size: 35px;
    }

#contenedor_cards::-webkit-scrollbar{
    background: transparent;
    width: 8px;
}

#contenedor_cards::-webkit-scrollbar-thumb{
   border-radius: 20px;
   background-color: rgb(180, 180, 180);
}

#contenedor_agendas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

    #contenedor_agendas #contenedor_cards{
        max-height: 66vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        overflow-y: auto;
        overflow-x: hidden;
        gap: 2em;
        grid-auto-rows: min-content;
        width: 100%;
    }

    #contenedor_agendas #contenedor_cards #mensaje_respuesta{
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }   

        #contenedor_agendas #contenedor_cards .card-agenda{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: clamp(250px, 85%, 600px);
            margin: 0 auto;
        }

            #contenedor_cards .card-agenda .card-agenda-header{
                background-color: var(--main-color);
                border-radius: 13px 13px 0 0;
                color: white;
                padding: 1em 1em 0.5em;
            }

                .card-agenda .card-agenda-header h1{
                    font-size: 1.2em;
                }

            #contenedor_cards .card-agenda .card-agenda-body{
                background-color: white;
                border: 2px solid #d8d8d8;
                border-radius: 0 0 13px 13px;
                padding: 0 1em 1em;
            }

                .card-agenda .card-agenda-body p{
                    font-size: 17px;
                }

                .card-agenda .card-agenda-body .nombre{
                    margin-top: 10px;
                }

                .card-agenda .card-agenda-body .contenedor-fecha-agenda{
                    display: flex;
                    justify-content: space-between;
                    margin: 10px 0;
                }

                    .card-agenda-body .contenedor-fecha-agenda .fecha-agenda{
                        margin-bottom: 5px;
                    }

                .card-agenda .card-agenda-body .contenedor-icons{
                    display: flex;
                    justify-content: end;
                    gap: 10px;
                }

                .card-agenda .card-agenda-body ion-icon{
                    margin: 0;
                    margin-top: 1vh;
                    display: flex;
                    justify-content: end;
                    font-size: 28px;
                    cursor: pointer;
                }

                .card-agenda .card-agenda-body .ver{
                    color: var(--color-secundario);
                }
                .card-agenda .card-agenda-body .editar{
                    color: var(--main-color);
                }
                .card-agenda .card-agenda-body .eliminar{
                    color: #fb2d2d;
                }

/*------------------------------------------------- Estilos Modal registrar agenda --------------------------------------------*/
#contenedor_modales #modal_agenda{
    width: clamp(450px, 32%, 650px);
}

    #contenedor_modales #modal_agenda #cont_info_modales{
        width: 100%;
    }

        #contenedor_modales #modal_agenda #cont_info_modales #formulario_agenda{
            display: flex;
            flex-direction: column;
            width: 100%;
        }

            #modal_agenda #cont_info_modales #formulario_agenda #contenedor_cajas_agenda{
                align-items: end;
                column-gap: 20px;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                overflow-x: hidden;
                padding: 1.5em;
                row-gap: 20px;
                width: 100%;
            }

                #cont_info_modales #formulario_agenda #contenedor_cajas_agenda .seccion-individual, .seccion-grupal{
                    display: none;
                }

                #cont_info_modales #formulario_agenda #contenedor_cajas_agenda .input-caja-registro{
                    animation: slideIn 0.5s ease-out;
                    color: var(--color-placeholder);
                    font-size: 16px;
                    width: 100%;
                }

                    #formulario_agenda #contenedor_cajas_agenda .input-caja-registro .label-input{
                        color: var(--color-placeholder);
                        font-size: 20px;
                        margin-bottom: 5px;
                        padding-left: 10px;
                    }
                
                    #formulario_agenda #contenedor_cajas_agenda .input-caja-registro .campo{
                        background: var(--background-inputs);
                        border: none;
                        border-radius: 13px;
                        font-size: 16px;
                        height: 60px;
                        margin-top: 5px;
                        padding: 10px;
                        width: 100%;
                    }

                    #formulario_agenda #contenedor_cajas_agenda .input-caja-registro .campo::placeholder{
                        color: var(--color-placeholder);
                        font-size: 16px;
                    } 

            #modal_agenda #formulario_agenda #contenedor_cajas_agenda #contenedor_checkbox{
                animation: slideIn 0.5s ease-out;
                display: flex;
                justify-content: space-between;
                width: 100%;
            }

                #formulario_agenda #contenedor_cajas_agenda #contenedor_checkbox .caja-checkbox{
                    display: flex;
                    align-items: center;
                }

                    #contenedor_cajas_agenda #contenedor_checkbox .caja-checkbox .checkbox{
                        appearance: none; 
                        border: none;
                        border-radius: 13px;
                        width: 60px;
                        height: 60px;
                        background: var(--background-inputs); 
                        cursor: pointer;
                    }

                   #contenedor_cajas_agenda #contenedor_checkbox .caja-checkbox .checkbox:checked {
                        background-color: var(--color-secundario);
                    }

                #modal_agenda #formulario_agenda #contenedor_cajas_agenda #caja_excel{
                    animation: slideIn 0.5s ease-out;
                    align-items: end;
                    column-gap: 15px;
                    width: 100%;
                }

                        #contenedor_cajas_agenda #caja_excel .input-caja-registro .campo{
                            align-items: center;
                            cursor: pointer;
                            display: flex;
                        }

                        #contenedor_cajas_agenda #caja_excel .input-caja-registro .campo:hover{
                            background-color: rgb(176, 176, 176);
                            color: var(--color-primario);
                        }

                            #caja_excel .input-caja-registro .campo #plantilla_excel {
                                display: none; 
                            }

                    #formulario_agenda #contenedor_cajas_agenda #caja_excel #btn_plantilla_excel{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: var( --color-terciario);
                        border-radius: 13px;
                        height: 60px;
                        padding: 0 12px;
                    }

                        #contenedor_cajas_agenda #caja_excel #btn_plantilla_excel ion-icon{
                            font-size: 30px;
                        }

                #modal_agenda #formulario_agenda #contenedor_cajas_agenda #btn_agregar_vehiculo {
                    animation: slideIn 0.5s ease-out;
                    align-items: center;
                    background: var(--background-inputs);
                    border: none;
                    border-radius: 13px;
                    color: var(--color-placeholder);
                    cursor: pointer;
                    font-size: 16px;
                    height: 60px;
                    padding: 10px;
                    width: 100%;
                }

                #modal_agenda #formulario_agenda #contenedor_cajas_agenda #btn_agregar_vehiculo:hover{
                    background-color: rgb(176, 176, 176);
                    color: var(--color-primario);
                }

                    #formulario_agenda #contenedor_cajas_agenda #btn_agregar_vehiculo ion-icon{
                        font-size: 30px;
                        margin-right: 20px;
                    }
                 
            #modal_agenda #cont_info_modales #formulario_agenda #contenedor_btns_agenda {
                display: flex;
                width: 100%;
            }

                #cont_info_modales #formulario_agenda #contenedor_btns_agenda button {
                    align-items: center;
                    background-color: var(--color-btn-cancelar);
                    border: none;
                    color: var(--color-placeholder);
                    display: flex;
                    font-size: 20px;
                    height: 60px;
                    justify-content: center;
                    width: 50%;
                }

                #cont_info_modales #formulario_agenda #contenedor_btns_agenda #btn_actualizar_agenda {
                    display: none;
                    background-color: var(--color-secundario);
                    color: var(--color-primario);
                }
                        
                #cont_info_modales #formulario_agenda #contenedor_btns_agenda #btn_registrar_agenda {
                    display: none;
                    background-color: var(--color-secundario);
                    color: var(--color-primario);
                }

                #cont_info_modales #formulario_agenda #contenedor_btns_agenda #btn_siguiente_agenda {
                    background-color: var(--color-secundario);
                    color: var(--color-primario);
                }

                #cont_info_modales #formulario_agenda #contenedor_btns_agenda #btn_atras_agenda {
                    display: none;
                }                  

/*----------------------------------------------------- Estilos Modal detalle agenda -------------------------------------------*/
#contenedor_modales #modal_detalle_agenda{
    width: clamp(450px, 30%, 550px);
}

#contenedor_modales #modal_detalle_agenda #cont_info_modales{
    align-items: start;
    padding: 1.5em 1.5em 1em;
}

    #modal_detalle_agenda #cont_info_modales h3{
        margin-bottom: 6px;
    }

    #modal_detalle_agenda #cont_info_modales p{
        margin-bottom: 20px;
    }

    #modal_detalle_agenda #cont_info_modales #contenedor_agendados{
        display: flex;
        justify-content: center;
        max-height: 200px;
        margin-bottom: 12px;
        overflow-y: auto;
        width: 100%;
    }
 
    #contenedor_agendados #tabla_agendados {
        border-collapse: collapse;
        border-radius: 20px;
        background: var(--color-primario);
        text-align: center;
        width: 100%;
    }

    #contenedor_agendados #tabla_agendados tr{
        border-bottom: 2px solid rgb(219, 219, 219);
    }

    #contenedor_agendados #tabla_agendados thead {
        background-color: var(--color-secundario);
        color: white;
        cursor: pointer;
        left: 0;
        position: sticky;
        top: 0;
    }

        #contenedor_agendados #tabla_agendados thead th{
            font-weight: normal;
            padding: 8px;
            text-transform: capitalize;
        }

        #contenedor_agendados #tabla_agendados tbody td{
            padding: 2.5px 8px;
        }

        #contenedor_agendados #tabla_agendados thead th:first-child {
            border-radius: 20px 0 0 0;  
        }

        #contenedor_agendados #tabla_agendados thead th:last-child {
            border-radius: 0 20px 0 0;  
        }

    #modal_detalle_agenda #cont_info_modales #contenedor_fecha_agenda{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

@media(min-width: 768px) and (max-width: 1023px){

    #contenedor_principal #contenedor_filtros .filtro{
        width: 100%;
        
    }

    #contenedor_fecha_actual{
        padding: 0;
    }

    #contenedor_agendas #contenedor_cards{
        max-height: 76vh;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

        #contenedor_agendas #contenedor_cards #mensaje_respuesta {
            font-size: 24px;
            margin-top: 1em;
        }

        #contenedor_agendas #contenedor_cards .card-agenda{
            margin: 0;
            width: 100%;
        }
        
            .card-agenda .card-agenda-body p{
                font-size: 14px;
            }
}

@media(max-width: 767px){

    #contenedor_principal{
        width: clamp(260px, 100%, 600px);
    }

        #contenedor_principal #contenedor_filtros{
            flex-direction: column;
            row-gap: 10px;
        }

            #contenedor_principal #contenedor_filtros .filtro{
                width: 100%;
            }

            #contenedor_principal #contenedor_filtros #btn_crear_agenda{
                display: none;
            }


        #contenedor_principal #btn_crear_agenda_mobile{
            display: flex;
        }

        #contenedor_principal #contenedor_fecha_actual{
            padding: 0;
        }

            #contenedor_principal #contenedor_agendas #contenedor_cards{
                max-height: 50vh;
                grid-template-columns: 100%;
                gap: 1em;
                width: 100%;
            }

                #contenedor_principal #contenedor_agendas #contenedor_cards #mensaje_respuesta {
                    font-size: 16px;
                    width: 216px;
                    margin: 1em auto;
                }

                #contenedor_principal #contenedor_agendas #contenedor_cards .card-agenda{
                    width: 100%;
                }

                    #contenedor_cards .card-agenda .card-agenda-body p{
                        font-size: 14px;
                    }

                    #contenedor_cards .card-agenda .card-agenda-body ion-icon{
                        margin: 0;
                        margin-top: 5px;
                        font-size: 23px;
                    }

    /* --------------------------------------------------- Estilo Modal registrar agenda --------------------------------------*/
    #contenedor_modales #modal_agenda{
        width: clamp(300px, 92.5%, 500px)!important;
    }

        #modal_agenda #cont_info_modales #formulario_agenda #contenedor_cajas_agenda{
            padding: 1em;
            row-gap: 10px;
        }
       
            #formulario_agenda #contenedor_cajas_agenda #contenedor_checkbox{
                flex-direction: column;
                row-gap: 10px;
            }

    /* -------------------------------------------------- Estilos Modal detalle agenda ----------------------------------------*/
    #contenedor_modales #modal_detalle_agenda{
        width: clamp(300px, 92.5%, 500px);
    }

        #modal_detalle_agenda #cont_info_modales #contenedor_agendados{
            max-height: 150px;
        }

        #modal_detalle_agenda #cont_info_modales #contenedor_fecha_agenda{
            flex-direction: column;
        }
}









