
*{
    box-sizing: border-box;
    transition: all 0.8s;
}
a{
    text-decoration: none;
    color: white;
}
:root{
    --main-color: #001629;
    --color-primario: #F3F4F4;
    --color-secundario: #01B401;
    --color-terciario: #007832;
    --color-texto: #414042;
    --color-btn-cancelar: #c9c9c9;
    --color-placeholder: #4A4A4A;
    --background-inputs: #D1D3D4;
    --color-transparente: #04060700;
}
body, html{
    margin: 0;
    padding: 0;

}

  

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
}
main#cuerpo{
    background: var(--main-color);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}




    .alerta-contenedor{
        border-radius: 20px;
        background: var(--main-color);
        color: var(--color-primario);
    }
    .alerta-contenedor .btn-confirmar{
        border: none;
        border-radius: 15px;
        box-shadow: none !important;
        background-color: var(--color-secundario) !important;
    }
    .alerta-contenedor .btn-cancelar{
        border: none;
        border-radius: 15px;
        box-shadow: none !important;
        background-color: rgb(165, 165, 165) !important;
    }

    .alerta-contenedor .swal2-timer-progress-bar {
        background-color: #2db910 !important; /* Cambia el color a tu preferencia */
      }
    
    
    main#cuerpo section#contenedor_pagina{
        display: flex;
        justify-content: center;
        background: var(--color-primario);
        border-radius: 20px;
        width: 100vw;
        padding: 0 14px 0 14px;
        margin-right: 16px;
        min-height: 100vh;

    }
        section#contenedor_pagina #nav_menu{
            display: none;

        }

        #contenedor_nuevo_visitante{
            
            display: flex;
            justify-content: center;
        }
        
        .contenedor_cajas{
            width: 50%;
            margin: 0 20px;
        }
        
        
        #contenedor_cajas_02{
            display: flex;
        }
            #contenedor_campos_1{
                display: flex;
            }
            #contenedor_subtitulo{  
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
                .input-caja{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin: 20px 0;
                }
                    .input-caja label{
                        font-size: 20px;
                    }
                    .campo{
                        width: 100%;
                        height: 60px;
                        background: var(--background-inputs);
                        border: none;
                        font-size: 18px;
                        border-radius: 13px;
                        padding: 10px;
                        margin: 5px 0 0 0;
                    }
                    .campo::placeholder{
                        font-size: 18px;
                        color: var(--color-placeholder);
                    } 
            #contenedor_campos_2{
                display: flex;
            }
            
            #contenedor_btn_form{  
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
                #contenedor_btn_form .btn-enviar-form{
                    border: none;
                    border-radius: 15px;
                    color: var(--color-primario);
                    height: 60px;
                    width: 30%;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--color-secundario);
                }

                #contenedor_btn_form .btn-enviar-form:hover{
                    border-radius: 15px;
                    border: 2px solid var(--color-secundario);
                    color: var(--color-secundario);
                    height: 60px;
                    width: 30%;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--color-transparente);
                }
                #contenedor_btn_form .btn-enviar-form ion-icon{
                    font-size: 30px;
                    margin-left: 5px;
                }
                #cont_alertas{
                    opacity: 0;
                    pointer-events: none;
                    transition: opacity 0.3s ease;
                    position: absolute;
                    background: #252525b2;
                    width: 100vw;
                    height: 100vh;
                    top: 0;
                    left: 0;
                    z-index: 60;
                }
                
                        #cont_alertas .contenedor-ppal-modal {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            position: absolute;
                            top: -30px;
                            right: 10px;
                            max-height: 575px;
                            overflow: hidden;
                            width: 357px;
                            border-radius: 20px 0 20px 20px;
                            background: var(--main-color);
                            transition: top 0.5s ease; 
                        }
                        
                        #cont_alertas.mostrar .contenedor-ppal-modal {
                            top: 53px; 
                        }
                        
                        #cont_alertas.mostrar {
                            opacity: 1;
                            pointer-events: auto;
                        }
                            #cont_alertas .contenedor-titulo-modal{
                            color: var(--color-primario);
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 0.7em;
                            }
                                .contenedor-titulo-modal h2{
                                    width: 100%;
                                    text-align: center;
                                }
                                .contenedor_info p{
                                    display: -webkit-box;
                                    display: -moz-box;
                                    display: -moz-inline-box;
                                    -webkit-box-orient:vertical ;
                                    -moz-box-orient: vertical;
                                    box-orient: vertical;
                                    -webkit-line-clamp: 3;
                                    line-clamp: 3;
                                    overflow: hidden;
                                }
                                .contenido-adicional {
                                    transition: max-height 0.3s ease;
                                    overflow: hidden;
                                }
                                
                        #cont_alertas .contenedor-ppal-modal .contenedor-modal{
                            height: 100%;
                            background: var(--color-primario);
                            border-radius: 20px;
                            padding: 20px 5px;
                            max-height: 500px;
                            overflow-y: auto;
                            scrollbar-width: none;
                        }

                            .contenedor-modal .contenedor-alerta{
                                display: flex;
                                padding: 5px 0;
                                width: 100%;
                                height: 94px;
                                border-top: 2px solid var(--color-linea);
                            }
                                .contenedor-alerta .contenedor-mensaje-alerta{
                                    
                                    display: flex;
                                    border: none;
                                    border-left: 7px solid var(--color-secundario);
                                    align-items: center;
                                    padding: 7px;
                                }
                                    .contenedor-mensaje-alerta .contenedor_info{
                                        
                                        display: flex;
                                        width: 330px;
                                        flex-direction: column;
                                        justify-content: space-around;
                                    }
                                    .contenedor-mensaje-alerta button{
                                        height: 30px;
                                        width: 72px;
                                        border: none;
                                        border-radius: 20px;
                                        background: var(--color-secundario);
                                        color: var(--color-primario);
                                    }
/* Ecabezado de listatados */
.nav_gestion_listado{
    margin: 10px 0;
}
    .nav_gestion_listado #cont_opciones_listado{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .listado-visitantes{
            width: 100%;
        }
        #cont_opciones_listado .filtro{  
            display: none;
        }
            #cont_opciones_listado .filtro .cont_select{
                height: 34px;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: white;
                border: 1px solid #d8d8d8;
                border-radius: 10px;
                margin: 0 20px 0 10px;
            }
                .filtro .cont_select select{
                    border: none;
                    outline: none;
                }
        #cont_opciones_listado .cont_buscar_persona{                    
                display: flex;
                align-items: center;
                width: 100%;
        }
            #cont_opciones_listado .cont_buscar_persona .buscar{
                display: flex;
                align-items: center;
                justify-content: center;
                background: white;
                border: 1px solid #d8d8d8;
                border-radius: 10px;
                margin: 0 10px 0 0px;
                padding: 0 10px;
                width: 94%;
                position: fixed;
                left: 12px;
                top: 60px;
                z-index: 20;
            }
            #cont_opciones_listado .cont_buscar_persona .buscar-nove{
                display: flex;
                align-items: center;
                justify-content: center;
                background: white;
                border: 1px solid #d8d8d8;
                border-radius: 10px;
                margin: 0 10px 0 0px;
                padding: 0 10px;
                width: 53%;
                position: fixed;
                left: 12px;
                top: 60px;
                z-index: 20;
            }
            #cont_opciones_listado .cont_buscar_persona .buscar-tipo-novedad{
                
                display: flex;
                align-items: center;
                justify-content: center;
                background: white;
                border: 1px solid #d8d8d8;
                border-radius: 10px;
                margin: 0 14px 0 10px;
                padding: 0 10px;
                width: 36%;
                position: fixed;
                right: 0;
                top: 60px;
                z-index: 20;
            }
                .cont_buscar_persona .buscar-tipo-novedad ion-icon{   
                    font-size: 25px;
                }
                .cont_buscar_persona .buscar ion-icon{   
                    font-size: 25px;
                }
                .cont_buscar_persona .buscar #filtro{       
                    border: none;
                    margin-left: 5px;
                    height: 44px;
                    font-size: 22px;
                    outline: none;
                    width: 100%;
                }
                .cont_buscar_persona .buscar-tipo-novedad #tipo_novedades{  
                    width: 100%;
                    height: 44px;
                    border: none;
                    padding: 0px 0px 0px 5px;
                    font-size: 16px;
                    color: var(--color-placeholder);
                    outline: none;
                }
                
                #contenedor_tabla{
                    margin-top: 60px;
                }
                .cont_buscar_persona .btn-nueva-persona-mobile{
                    position: fixed;
                    top: 90%;
                    left: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: var(--color-secundario);
                    height: 60px;
                    padding: 0 14px;
                    border-radius: 22px;
                    z-index: 20;

                }

                .btn-nueva-persona{
                    display: none;
                }
               
                .cont_buscar_persona a ion-icon{   
                    font-size: 32px;
                    margin: 0px 1px 3px 0px;
                    
                }
            
/* Estilos de repote ingreso y salida Mobile*/
    .contenedor-reportes{
        width: 100%;
    }
        .cont-btn-volver {   
            width: 100%;
            display: none;
            justify-content: flex-end;
            align-items: center;
            flex-direction: row-reverse;
        }

        #panel_entrada .cont-btn-volver .btn-ent-sal-volver{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: var(--color-secundario);
            border: none;
            border-radius: 10px;
            font-size: 30px;
            color: white;
        }
        
        #panel_salida .cont-btn-volver .btn-ent-sal-volver{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: var(--main-color);
            border: none;
            border-radius: 10px;
            font-size: 30px;
            color: white;
        }

        .cont_e_s {
            width: 100%;
        }
        .cont_entrada_salida_01{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 20px;
        }
        .cont_entrada_salida_02{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .contenedor-reportes .contenedor-card-ptn-vhl{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 40px 20px;
        }

                .contenedor-card-ptn-vhl .card-entr-sali{   
                    width: 457px;
                    height: 186px;
                    display: flex;
                    align-content: center;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;
                    margin: 0 20px;
                }
                #panel_entrada .contenedor-card-ptn-vhl .card-entr-sali{   
                    background: var(--color-secundario) !important;
                }
                #panel_salida .contenedor-card-ptn-vhl .card-entr-sali{   
                    background: var(--main-color) !important;
                }
               
                    .contenedor-card-ptn-vhl .card-entr-sali ion-icon{  
                        font-size: 100px;
                        color: var(--color-primario);
                    }
                    .contenedor-card-ptn-vhl .card-entr-sali h1{
                        font-size: 39px;
                        color: var(--color-primario);
                    }

                    /* Estilos Formularios */

                
                    #formulario_peatonal {
                        display: none;
                        width: 100%;
                        flex-direction: column;
                        margin-top: 140px;
                    
                    }
                    .titulo-formulario{
                        text-align: center;
                        font-size: 39px;
                    }

                        .cont_cajas_ptn{       
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 20px;
                        }
                        .contenido_1{       
                            padding: 0 20px;
                        }
                        .btn-eviar-reporte{
                            background: var(--color-secundario);
                            border: none;
                            border-radius: 10px;
                            font-size: 20px;
                            height: 60px;
                            margin: 0 20px;
                            color: var(--color-primario);
                        }

                        #panel_entrada .btn-eviar-reporte{
                            background: var(--color-secundario);
                        }

                        #panel_salida .btn-eviar-reporte{
                            background: var(--main-color);
                            margin: 20px;
                        }

                        @keyframes slideIn2 {
                            from {
                                transform: translateY(50%);
                                opacity: 0;
                            }
                            to {
                                transform: translateY(0);
                                opacity: 1;
                            }
                        }
                        
                        #formulario_peatonal{
                            animation: slideIn2 0.5s ease-out;
                        }
                    #formulario_vehicular {
                        display: none;
                        width: 100%;
                        flex-direction: column;
                    
                    }
                        @keyframes slideIn2 {
                            from {
                                transform: translateY(-50%);
                                opacity: 0;
                            }
                            to {
                                transform: translateY(0);
                                opacity: 1;
                            }
                        }
                        
                        #panel_entrada .input-caja{
                            margin: 12px 0;
                        }
                        
                        #formulario_vehicular{
                            animation: slideIn2 0.5s ease-out;
                        }
                        .contenedor-card-ptn-vhl{
                            animation: slideIn2 0.5s ease-out;

                        }
                            #formulario_vehicular .cont_cajas{
                                                            
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                            }

                                    .cont-input-buscar{
                                        display: flex;
                                        margin: 5px 0 10px 0;
                                        align-items: center;
                                    }
                                    
                                        .cont-input-buscar #num_documento_pasajero {
                                            margin: 0 !important;
                                        }
                                        .cont-input-buscar .agregar-persona{
                                            
                                            width: 64px;
                                            height: 60px;
                                            font-size: 30px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            margin-left: 17px;
                                            border-radius: 10px;
                                            border: none;
                                            color: var(--color-primario);
                                        }
                                        #panel_entrada .cont-input-buscar .agregar-persona{
                                            background: var(--color-secundario);
                                        }
                                        
                                        #panel_salida .cont-input-buscar .agregar-persona{
                                            background: var(--main-color);
                                        }
                                        .contenido_1{
                                            width: 100%;
                                            display: flex;
                                            justify-content: center;
                                        }
                                        .colum-oculta{
                                            display: none;
                                        }

    /* Estilo general para la tarjeta */
    .document-card {
        border: 1px solid #ddd;
        overflow: hidden;
        border-radius: 8px;
        min-width: 350px;
        max-width: 400px;
        font-family: Arial, sans-serif;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin: 10px;
        cursor: pointer;
        margin:0 0 10px 0;
        transition: all 0.3s ease;
      }
  
      /* Contenedor principal */
      .card-header {
        padding: 10px 10px 0px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  
      /* Estilo del título */
      .document-title {
        font-size: 1.1em;
        font-weight: bold;
        color: #333;
        margin: 0;
      }
  
      /* Metadatos iniciales visibles */
      .document-meta {
        font-size: 0.9em;
        color: #555;
        margin: 5px 0;
      }
  
      /* Detalles adicionales que se despliegan */
      .card-details {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
        font-size: 0.9em;
        color: #555;
        padding: 10px 10px 0px 10px;
      }
  
      .document-card.active .card-details {
        padding: 10px 10px 0px 10px;
        max-height: 150px; /* Ajusta según la cantidad de contenido */
      }


      .contenedor-acciones {
        max-height: 0;
        overflow: hidden;
        font-size: 0.9em;
        color: var(--color-primario);
        margin-top: 10px;
      }

      .document-card.active .contenedor-acciones {
        max-height: 150px; /* Ajusta según la cantidad de contenido */
      }

      .document-card .contenedor-acciones .btn-cards {
        font-size: 20px;
        display: flex;
        background: var(--color-secundario);
        transition: max-height 0.1s ease;
        align-items: center;
        justify-content: center;
        padding: 8px;
      }
      
    .btn-editar{
        
        display: flex;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 10px 10px 0 0;
        background: var(--color-secundario);
        color: var(--color-primario);
        font-size: 18px;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }
    
    .btn-editar:hover {
        transform: translateY(-1px);
    }

    .btn-editar:active {
        transform: translateY(0px);
    }

    .btn-cancelar-table{
        
        display: flex;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 0 0 10px 10px;
        background: var(--color-btn-cancelar);
        color: var(--color-placeholder);
        font-size: 18px;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }
    
    .btn-cancelar-table:hover {
        transform: translateY(-1px);
    }

    .btn-cancelar-table:active {
        transform: translateY(0px);
    }
  
      /* Icono de flecha para desplegar */
      .toggle-icon {
        font-size: 1.2em;
        transform: rotate(0deg);
        transition: transform 0.5s ease;
      }
  
      .document-card.active .toggle-icon {
        transform: rotate(180deg);
      }

@media (width > 780px) {
    main#cuerpo section#contenedor_pagina{
        display: flex;
        justify-content: center;
        background: var(--color-primario);
        border-radius: 20px;
        width: 100vw;
        min-height: 100%;
        padding: 0 14px 0 14px;
        margin-right: 16px;

    }


    .nav_gestion_listado{
        margin: 10px 0;
    }
        .nav_gestion_listado #cont_opciones_listado{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            #cont_opciones_listado .filtro{  
                display: flex;
                align-items: center;
            }
                #cont_opciones_listado .filtro .cont_select{
                    height: 34px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: white;
                    border: 1px solid #d8d8d8;
                    border-radius: 10px;
                    margin: 0 20px 0 10px;
                }
                    .filtro .cont_select select{
                        border: none;
                        outline: none;
                    }
            #cont_opciones_listado .cont_buscar_persona{                    
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                
            }
                #cont_opciones_listado .cont_buscar_persona .buscar{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: white;
                    border: 1px solid #d8d8d8;
                    border-radius: 10px;
                    margin: 0 20px 0 10px;
                    padding: 0 10px;
                    position: unset;
                    width: 260px;
                }
                
                #cont_opciones_listado .cont_buscar_persona .buscar-tipo-novedad {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: white;
                    border: 1px solid #d8d8d8;
                    border-radius: 10px;
                    margin: 0 20px 0 10px;
                    padding: 0 10px;
                    position: unset;
                    width: 260px;
                }
                    .cont_buscar_persona .buscar-tipo-novedad #tipo_novedades{       
                        border: none;
                        margin-left: 5px;
                        height: 34px;
                        font-size: 17px;
                        outline: none;

                    }
                    .cont_buscar_persona .buscar #filtro{       
                        border: none;
                        margin-left: 5px;
                        height: 34px;
                        font-size: 17px;
                        outline: none;

                    }
                    .cont_buscar_persona .btn-nueva-persona-mobile {
                        display: none;
                    }

                    .cont_buscar_persona a{   
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: var(--color-secundario);
                        height: 34px;
                        padding: 0 14px;
                        border-radius: 10px;

                    }
                    .btn-nueva-persona-02{
                        display: none;
                    }
                    .cont_buscar_persona a ion-icon{   
                        font-size: 20px;
                        margin-right: 10px;
                    }
                    
                
                    #cont_alertas .contenedor-ppal-modal {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        position: absolute;
                        top: -30px;
                        right: 258px;
                        max-height: 575px;
                        overflow: hidden;
                        width: 437px;
                        border-radius: 20px 0 20px 20px;
                        background: var(--main-color);
                        transition: top 0.5s ease; 
                    }
                    
                    #cont_alertas.mostrar .contenedor-ppal-modal {
                        top: 53px; 
                    }
                    
                    #cont_alertas.mostrar {
                        opacity: 1;
                        pointer-events: auto;
                    }
                        #cont_alertas .contenedor-titulo-modal{
                        color: var(--color-primario);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0.7em;
                        }
                            .contenedor-titulo-modal h2{
                                width: 100%;
                                text-align: center;
                            }
                            .contenedor_info p{
                                display: -webkit-box;
                                display: -moz-box;
                                display: -moz-inline-box;
                                -webkit-box-orient:vertical ;
                                -moz-box-orient: vertical;
                                box-orient: vertical;
                                -webkit-line-clamp: 3;
                                line-clamp: 3;
                                overflow: hidden;
                            }
                            .contenido-adicional {
                                transition: max-height 0.3s ease;
                                overflow: hidden;
                            }
                            
                    #cont_alertas .contenedor-ppal-modal .contenedor-modal{
                        height: 100%;
                        background: var(--color-primario);
                        border-radius: 20px;
                        padding: 20px 5px;
                        max-height: 500px;
                        overflow-y: auto;
                        scrollbar-width: none;
                    }

                        .contenedor-modal .contenedor-alerta{
                            display: flex;
                            padding: 5px 0;
                            width: 100%;
                            height: 94px;
                            border-top: 2px solid var(--color-linea);
                        }
                            .contenedor-alerta .contenedor-mensaje-alerta{
                                
                                display: flex;
                                border: none;
                                border-left: 7px solid var(--color-secundario);
                                align-items: center;
                                padding: 7px;
                            }
                                .contenedor-mensaje-alerta .contenedor_info{
                                    
                                    display: flex;
                                    width: 330px;
                                    flex-direction: column;
                                    justify-content: space-around;
                                }
                                .contenedor-mensaje-alerta button{
                                    height: 30px;
                                    width: 72px;
                                    border: none;
                                    border-radius: 20px;
                                    background: var(--color-secundario);
                                    color: var(--color-primario);
                                }
    /* Estilos para los paneles de entrada y salida de personas */

    .contenedor-reportes{
        width: 100%;
    }
        .btn-ent-sal-volver{
            display: none;
        }
        .cont_e_s {
            width: 100%;
        }
        .cont_entrada_salida_01{
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        .cont_entrada_salida_02{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .contenedor-reportes .contenedor-card-ptn-vhl{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            margin: 50px 0;
        }

                .contenedor-card-ptn-vhl .card-entr-sali{   
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 457px;
                    height: 186px;
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;
                    margin: 0 20px;
                }
                #panel_entrada .contenedor-card-ptn-vhl .card-entr-sali{   
                    background: var(--color-secundario) ;
                }
                #panel_salida .contenedor-card-ptn-vhl .card-entr-sali{   
                    background: var(--main-color) !important;
                }
                .contenedor-card-ptn-vhl .card-entr-sali:hover{   
                    scale: 1.1;
                }
                
                    .contenedor-card-ptn-vhl .card-entr-sali ion-icon{
                                            
                        font-size: 100px;
                        color: var(--color-primario);
                    }
                    .contenedor-card-ptn-vhl .card-entr-sali h1{
                        font-size: 39px;
                        color: var(--color-primario);
                    }

                    /* Estilos Formularios */

                
                    #formulario_peatonal {
                        display: none;
                        padding: 0 40px;
                        width: 100%;
                        flex-direction: column;
                        margin: 0;
                    
                    }
                    .titulo-formulario{
                        text-align: center;
                        font-size: 39px;
                    }
                        
                    #caja_placa_vehiculo{
                        margin-right: 10px !important;
                    }
                        .cont_cajas_ptn{       
                            display: flex;
                        }
                        .contenido_1{       
                            padding: 0 20px;
                        }
                        .btn-eviar-reporte{
                            background: var(--color-secundario);
                            border: none;
                            border-radius: 10px;
                            font-size: 20px;
                            height: 60px;
                            margin: 0 20px;
                            color: var(--color-primario);
                        }

                        #panel_entrada .btn-eviar-reporte{
                            background: var(--color-secundario);
                        }

                        #panel_salida .btn-eviar-reporte{
                            background: var(--main-color);
                            margin-top: 20px;
                        
                        }

                       @keyframes slideIn2 {
                            from {
                                transform: translateX(50%);
                                opacity: 0;
                            }
                            to {
                                transform: translateX(0);
                                opacity: 1;
                            }
                        }
                        
                        #formulario_peatonal{
                            animation: slideIn2 0.5s ease-out;
                        }
                    #formulario_vehicular {
                        display: none;
                        padding: 0 40px;
                        width: 100%;
                        flex-direction: column;
                    
                    }
                        @keyframes slideIn2 {
                            from {
                                transform: translateX(-50%);
                                opacity: 0;
                            }
                            to {
                                transform: translateX(0);
                                opacity: 1;
                            }
                        }
                        .num_identificacion_vehiculo{
                            margin-right: 10px;
                        }
                        #formulario_vehicular{
                            animation: slideIn2 0.5s ease-out;
                        }
                            #formulario_vehicular .cont_cajas{
                                                            
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                            }

                                    .cont-input-buscar{
                                        display: flex;
                                        margin: 5px 0 0 0;
                                    }
                                        .cont-input-buscar #num_documento_pasajero{
                                            margin: 0 !important;
                                        }
                                        .cont-input-buscar .agregar-persona{
                                            
                                            width: 64px;
                                            font-size: 30px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            margin-left: 17px;
                                            border-radius: 10px;
                                            border: none;
                                            color: var(--color-primario);
                                        }
                                        #panel_entrada .cont-input-buscar .agregar-persona{
                                            background: var(--color-secundario);
                                        }
                                        
                                        #panel_salida .cont-input-buscar .agregar-persona{
                                            background: var(--main-color);
                                        }
                                        .formulario-ingreso-salida-pasajeros{
                                            width: 100%;
                                        }
                    
        /* Estilo de tablas */
        
#contenedor_tabla{
    max-height: 460px;
    overflow-y: auto;
    margin: 0 !important;
}   
table {
    background: var(--color-primario);
    width: 100%;
    border-radius: 20px;
    padding: 1em;
}



table, th, td {
    border-collapse: collapse;
    font-weight: normal;
    padding: 1rem;
    text-align: center;
}
table td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
    border-bottom: 2px solid rgb(219, 219, 219);
}

thead {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--color-primario);
    border-bottom: 3px solid rgb(219, 219, 219);
    cursor: pointer;
    text-transform: capitalize;
}
thead tr {
    border-bottom: 3px solid rgb(219, 219, 219);
    cursor: pointer;
    text-transform: capitalize;
}



tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}



tbody tr:hover {
    background-color: rgb(231, 231, 231) !important;
}

tbody tr td{
    transition: .2s ease-in-out;
}


#contenedor_tabla.scrolled .table thead th:first-child {
    border-radius: 20px 0 0 0;  
}

#contenedor_tabla.scrolled .table thead th:last-child {
    border-radius: 0 20px 0 0;  
}
#contenedor_tabla.scrolled .table thead th {
    color: var(--color-primario);
    background-color: var(--color-secundario); /* Color cuando se hace scroll */
}
             
.contenedor-colum-acciones {
    text-align: center;
    vertical-align: middle;
}

.btn-cards {
    display: inline-block;
    padding: 10px 20px;
    background: var(--color-secundario);
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 25px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn-cards:hover {
    transform: translateY(-1px);
}

.btn-cards:active {
    transform: translateY(0px);
}

.btn-cards p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.contenedor-colum-acciones-ptr {
    display: flex;
    text-align: center;
    vertical-align: middle;

}
.contenedor-colum-acciones-ptr a {
    margin: 5px;

}


.btn-editar{
    
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    background: var(--color-secundario);
    color: var(--color-primario);
    font-size: 18px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
  
.btn-editar:hover {
    transform: translateY(-1px);
}

.btn-editar:active {
    transform: translateY(0px);
}

.btn-cancelar-table{
    
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    background: var(--color-btn-cancelar);
    color: var(--color-placeholder);
    font-size: 18px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
  
.btn-cancelar-table:hover {
    transform: translateY(-1px);
}

.btn-cancelar-table:active {
    transform: translateY(0px);
}
}

@media (width > 1080px) {

    main#cuerpo{
        background: var(--main-color);
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }
        main#cuerpo section#contenedor_pagina{
            display: block;
            background: var(--color-primario);
            border-radius: 20px;
            width: 100vw;
            min-height: 97.3vh;
            margin-right: 16px;
            padding: 18px;
            overflow: hidden;
    
        }
        section#contenedor_pagina #nav_menu{
            display: flex;
            justify-content: space-between;

        }
        
     
            #nav_menu #cont_nombre_vista h1{
                font-size: 40px;
                margin: 0;
            }
            #nav_menu #cont_info_usuario{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
                #cont_info_usuario #cont_contador_multitud{
                    display: flex;
                    align-items: center;
                    height: 40px;
                    background: #D9D9D9;
                    border-radius: 50px;
                    margin-right: 20px;
                }
                    #cont_contador_multitud ion-icon{
                        font-size: 37px;
                        font-weight: normal;
                        margin-left: 10px;
                    }
                    #cont_contador_multitud p{
                        font-size: 20px;
                        margin-right: 10px;
                        margin-left: 5px;
                    }
                #cont_info_usuario #cont_icon_notificaciones{
                    background: #D9D9D9;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    
                }

                    #cont_icon_notificaciones {
                        position: relative;
                        display: inline-block;
                    }
                    
                    #notification_count {
                        position: absolute;
                        top: -5px;
                        right: -10px;
                        background-color: var(--color-secundario);
                        color: white;
                        border-radius: 50%;
                        padding: 3px 6px;
                        font-size: 12px;
                        font-weight: bold;
                    }
                    

                    #cont_info_usuario ion-icon{
                        font-size: 30px;
                        
                    }
                #cont_info_usuario #cont_perfil_user{
                    display: flex;
                    align-items: center;
                    height: 40px;
                    background: #D9D9D9;
                    border-radius: 50px;
                    margin-left: 20px;
                }
                    #cont_perfil_user ion-icon{
                        font-size: 32px;
                        margin-left: 10px;
                    }
                    #cont_perfil_user p{
                        font-size: 16px;
                        margin-right: 10px;
                    }


   
}

