.contenedor-vigilante {
    width: 90%; 
    max-width: 790px; 
    margin: 25px auto; 
    padding: 10px;
    border-radius: 15px;
  }
.contenedor {
    width: 90%;
    max-width: 790px;
    margin: 25px auto;
    padding: 10px;
    border-radius: 15px;
}

.grupo_formularios {
    width: 100%;
    display: block;
}
#grupo_1_formularios{
    margin: -12px 3px 4px 0px;
}


#fila_1{
    margin: -50px 0px 0px 0px;
}
.fila_formularios {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
   
}
.input-caja label{
    color: var(--color-texto);
    font-size: 20px;
}

.input-caja {
    width: 100%;
    margin-right: 16px;
}

.input-caja input {
    width: 100%;
    height: 23%;
    background-color:var(--background-inputs);
}
.formularios-h {
    text-align: center;
    margin: -15px 10px 19px 9px;
    color: #aaaaaa;
}

.ultima_fila{
    width: 130px;
} 

.contenedor_btn,
.contenedor_btn_continuar_formularios,
.contenedor_btn_continuar_anterior_formularios,
.contenedor_btn_cont_funcionarios {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 1.5%;
    gap: 43px;
}

#btn_anterior_formularios,
#btn_anterior_2_formularios,
#btn_anterior_2,
#btn_a_s,
#btn_enviar_media_2,
#btn_continuar_formularios,
#btn_continuar_2_formularios,
.contenedor_btn_continuar_formularios,
.contenedor_btn_continuar_anterior_formularios {
    display: none;
}


.btn_enviar_form_formularios ,.btn_enviar_form{
    width: 30%;
    height: 2.4em;
    background: var( --color-secundario);
    border: 1px solid #f5f0f0;
    border-radius: 10px;
    font-size: 24px;
    color: #F3F3F3;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#contenedor_btn_formularios{
    align-items: end;
}


.btn_enviar_media{
    margin: 10px 10px 10px 10px;
}

#placa_vehiculo_funcionario,#tipo_vehiculo_funcionario{
width: 368px;
}
#btn_envia_form{
    width: 18vh;
    margin: 29px 12px 1px 18px;
    height: 8vh;
}

.btn_enviar_form:hover {
    background: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-caja input,
.input-caja select {
    width: 100%;
    height: 60px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    margin: 0;
}
#btn_a_s_1{
    display: none;
}

@media(max-width:767px){
   



    .fila_formularios{
        flex-direction: column;
        margin-bottom: 0px;
    
      }
      .input-caja{
        width: 100%;
        font-size: 19px;
        margin: 5px 5px 15px 5px;
      }
      #tipo_doc_funcionario{
        margin: 0px 0px 0px 0px;
      }
      
      .btn_enviar_form{
       font-size: 25px;
      }
    
      #grupo_2_formularios,#grupo_2,#grupo_3{
        display: none;
        
      }
      #btn_continuar{
        width: 100%;
        height: 7vh;
        font-size: 36px;
      }
      #btn_continuar_2{
        font-size: 26px;

      }
      .grupo_formularios {
        padding: 50px 0px;
        box-sizing: border-box;
        margin: 0px 0px 0px 0px ;
    }
    
      .contenedor_btn_continuar_formularios{
        display: flex;
        justify-content: end;
      }
     #contenedor_btn{
      justify-content: space-between;
     }
     #btn_anterior_formularios,
     #btn_anterior_2,
     #btn_anterior{
      display: block;
      width: 25%;
      height: 7vh;
      background-color: var(--background-inputs);
     }
     

     #icono-atras{
        color: #000000;
     }
     

     #btn_enviar_form_formularios{
      width: 60%;
     }
     .contenedor_btn_continuar{
        display: flex;
        justify-content: end;
      }
     
     #btn_anterior{
      display: block;
     
     }

     #btn_a_s{
        display: block;
        justify-content: space-between;

     }
     #btn_anterior_2{
        display: block;
     }
     #btn_anterior{
        width: 25%;
     }



     #btn_enviar_form,#btn_envia_form{
      width: 60%;
      height: 7vh;
      font-size: 36px;
     }
   
     #tipo_documento{
        width: 100%;
        height: 8vh,
     }
     .input-caja select,
     .input-caja input[type="text"],
     .input-caja input[type="date"],
     .input-caja input[type="number"],
     .input-caja input[type="numeric"],
     .input-caja input[type="email"],
     .input-caja input[type="tel"] {
       height: 8vh; 
       font-size: 16px; 
       padding: 1vh; 
       margin-bottom: 2vh;
       font-size:20px ;
     }
     .input-caja label #tipo_documento{
        margin-left: -9px;
     }
     .contenedor_btn_continuar_formularios{
        margin: 47% 0% 0% 0%;
     }
     .btn_enviar_form{
        margin: 0% 0% 0% 0%;
        font-size: 28px;
     }
     #btn_enviar_media{
        margin: 27px 0px 0px 0px;
     }
     #btn_enviar_media_3{
        display: block;
        justify-content: space-between;
        margin: 157px 0px 0px 0px;
     }
     #btn_a_s_1{
        display: block;
        justify-items: space-between;
     }
     #btn_enviar_media2{
        margin: 166px 0px 0px 0px;
     }
     #placa_vehiculo_funcionario,#tipo_vehiculo_funcionario{
        width: 340px;
        }



    
    /* .fila{
        flex-direction: column;
        margin-bottom: 0px;
    
      }
      .input-caja{
        width: 100%;
        font-size: 19px;
      }
      
      .btn_enviar_form{
       font-size: 25px;
      }
    
      #grupo_2{
        display: none;
        
      }
      #btn_continuar{
        width: 100%;
        height: 7vh;
        font-size: 28px;
    
        
      }
    
      .contenedor_btn_continuar{
        display: flex;
        justify-content: end;
      }
     #contenedor_btn{
      justify-content: space-between;
     }
     #btn_anterior{
      display: block;
     }
     #btn_enviar_form-1{
      width: 60%;
     }
     .input-caja select,
     .input-caja input[type="text"],
     .input-caja input[type="date"],
     .input-caja input[type="number"],
     .input-caja input[type="email"] {
       
       height: 8vh; 
       font-size: 16px; 
       padding: 1vh; 
       margin-bottom: 1vh;
       font-size:20px ;
     }
     h3{
      margin-bottom: 1vh;
     }
     
     #num_identificacion{
      margin-bottom: 12vh;
     } */

     /* ----------------------------------aqui esta el de funcionarios ---- */

    /* .grupo {
        padding: 70px 0px;
        box-sizing: border-box;
        margin: 40px 0px 0px 0px ;
    }

    .fila_funcionarios{
        flex-direction: column;
        width: 100%;
        
        align-items: center;
        margin-bottom: -20px;
        
    }

    .input-caja {
        width: 100%;
        max-width: 100%;
        font-size: 19px;
        margin-bottom: 0px;
    }

    .input-caja label {
        display: block;
        margin-bottom: 2px;
        text-align: start;
    }

    .input-caja input,
    .input-caja select {
        width: 100%;
        height: 8vh;
        font-size: 20px;
        padding: 10px;
        margin-bottom: 45px;
        box-sizing: border-box;
    }

    
    .btn_enviar_form,
    
    #btn_continuar_2,
    #btn_envia_form {
        width: 75%;
        height: 60px;
        font-size: 20px;
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 15px;
        box-sizing: border-box;
        background-color: var(--color-secundario);
        border-radius: 10px;
        color: var(--color-primario);
        border: #F3F3F3;
    }
    
    #btn_continuar_1{
        width: 100%;
    }
    #btn_anterior,
    #btn_anterior_2{
        width: 25%;
        height: 60px;
        background-color: var(--background-inputs);
    }

    .icono-atras{
        width: 20px;
        height: 20px;
        color: #000000;
        
    }




    .contenedor_btn,
    .contenedor_btn_continuar,
    .contenedor_btn_continuar_anterior {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        padding: 0 15px;
        box-sizing: border-box;
        margin: 50% 0 2px 0;
    }
    label{
        font-size: 16px;
    }
    #telefono_funcionario h3{
        margin-bottom: 12%;

    }
    

    #grupo_2,
    #grupo_3 {
        display: none;
    }

    #btn_anterior,
    #btn_anterior_2 {
        display: flex;
    }

    .contenedor_btn_continuar,
    .contenedor_btn_continuar_anterior {
        display: flex;
    }

    h3 {
        margin: 2px 8px 8px -5px;
        font-size: 18px;
        text-align: center;
        width: 100%;
    }

    #grupo_3 .input-caja {
        width: 100%;
    }
    #btn_enviar_media{
        margin-top: 146px;
    }
    #btn_a_s{
        margin-top: 210px;
    }
    #grupo_2, #grupo_3{
        margin: 1px 1px 1px 1px;
    } */
}  
