#contenedor_principal {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

    #contenedor_principal #contenedor_filtros {
        display: flex;
        justify-content: end;
        width: 100%;
        padding: 1rem 0;
        column-gap: 10px;
    }

        #contenedor_principal #contenedor_filtros .filtro{
            align-items: center;
            border: 1px solid #d8d8d8;
            border-radius: 13px;
            background: white;
            display: flex;
            font-size: 17px;
            gap: 0.5rem;
            padding: 0 10px;
            height: 40px;
            width: clamp(220px, 20%, 600px);
        }

            #contenedor_principal #contenedor_filtros .filtro input, select{
                border: none;
                font-size: 17px;
                outline: none;
                width: 100%;
            }

    #contenedor_principal #contenedor_graficas {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

        #contenedor_principal #contenedor_graficas #contenedor_cards{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            max-height: 75vh;
            overflow-y: auto;
            row-gap: 4em;
            width: 100%;
        }

            #contenedor_principal #contenedor_graficas #contenedor_cards .card-grafica {
                border-radius: 20px;
                border: 2px solid var(--color-terciario);
                background: var(--color-transparente);
                height: auto;
                padding: 20px;
                width: clamp(350px, 85%, 750px);
            }

                #contenedor_principal #contenedor_graficas #contenedor_cards .card-grafica * {
                    color: var(--color-terciario);
                }


                #contenedor_graficas #contenedor_cards .card-grafica .titulo-card {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                }

                    #contenedor_cards .card-grafica .titulo-card ion-icon {
                        font-size: 28px;
                        margin-right: 5px;
                    }

                    #contenedor_cards .card-grafica .titulo-card h3 {
                        font-size: 1.3em;
                        margin: 0;
                    }

                #contenedor_graficas #contenedor_cards .card-grafica .contenedor-grafica{
                    width: 100%;
                }

                    #contenedor_cards .card-grafica .contenedor-grafica canvas{
                        box-sizing: border-box;
                        height: 160px;
                        width: 100%;
                    }


@media(min-width: 768px) and (max-width: 1023px){
    #contenedor_principal #contenedor_filtros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
    }

        #contenedor_principal #contenedor_filtros .filtro{
            width: 100%;
        }

    #contenedor_principal #contenedor_graficas #contenedor_cards{
        column-gap: 4em;
        max-height: none;
        overflow: hidden;

    }

        #contenedor_principal #contenedor_graficas #contenedor_cards .card-grafica{
            width: 100%;
        }
}

@media(max-width: 767px){
    #contenedor_principal{
        width: clamp(300px, 100%, 450px);
    }

        #contenedor_principal #contenedor_filtros {
        flex-direction: column;
        row-gap: 10px;
        }

            #contenedor_principal #contenedor_filtros .filtro{
                width: 100%;
            }

        #contenedor_principal #contenedor_graficas #contenedor_cards{
            grid-template-columns: repeat(1, 1fr);
            max-height: none;
            overflow: hidden;
            row-gap: 1em;
        }
            
            #contenedor_principal #contenedor_graficas #contenedor_cards .card-grafica{
                width: 100%;
            }
}


