#contenedor_principal {
    display: flex;
    flex-direction: column;
    width: 100%;
}

    #contenedor_principal #contenedor_saludo{
        margin: 16px 0;
        padding-left: 35px;
    }

        #contenedor_principal #contenedor_saludo h1 {
            color: var(--color-terciario);
            font-size: clamp(34px, 80%, 70px);
            margin: 0;
        }

        #contenedor_principal #contenedor_saludo p {
            margin: 0;
            font-size: clamp(14px, 80%, 28px);
        }

    #contenedor_principal #contador_multitud_mobile{
        display: none;
        font-size:  1.1em;
        font-weight: bolder;
        margin: 0 0 10px 0;
    }

    #contenedor_principal #contenedor_cartas_multitudes {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

        #contenedor_principal #contenedor_cartas_multitudes #contenedor_cards{
            max-height: 66vh;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            overflow-y: auto;
            overflow-x: auto;
            gap: 2em;
            grid-auto-rows: min-content;
            width: 100%;
        }

        #contenedor_principal #contenedor_cartas_multitudes #contenedor_cards::-webkit-scrollbar{
            background: transparent;
            width: 8px;
            height: 8px;
        }

        #contenedor_principal #contenedor_cartas_multitudes #contenedor_cards::-webkit-scrollbar-thumb{
            border-radius: 20px;
            background-color: rgb(180, 180, 180);
        }
    
            #contenedor_principal #contenedor_cartas_multitudes #contenedor_cards .card-multitud{
                background: var(--color-transparente);
                border-radius: 20px;
                border: 2px solid var(--color-terciario);
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0 auto;
                padding: 1em;
                row-gap: 10px;
                width: clamp(250px, 85%, 600px);
            }

                #contenedor_cartas_multitudes #contenedor_cards .card-multitud *{
                    color: var(--color-terciario);
                }

                #contenedor_cartas_multitudes #contenedor_cards .card-multitud .contenedor-titulo {
                    align-items: center;
                    column-gap: 10px;
                    display: flex;
                    margin-bottom: 10px;
                }

                    #contenedor_cards .card-multitud .contenedor-titulo h2{
                        font-size: 1.8em;
                    }

                    #contenedor_cards .card-multitud .contenedor-titulo ion-icon {
                        font-size: 38px;
                    }

                #contenedor_cartas_multitudes #contenedor_cards .card-multitud h3{
                    font-size: 1.5em;
                }

                #contenedor_cartas_multitudes #contenedor_cards .card-multitud h4{
                    font-size: 1.2em;
                }

                #contenedor_cartas_multitudes #contenedor_cards .card-multitud .contenedor-barra {
                    width: 95%;
                    border-radius: 5px;
                    height: 3px;
                    background: var(--background-inputs);
                }

                    #contenedor_cards .card-multitud .contenedor-barra .barra {
                        height: 100%;
                        width: 0%;
                        background-color: var(--color-secundario);
                    }

@media(min-width: 768px) and (max-width: 1023px){
    #contenedor_principal #contenedor_saludo{
        margin: 0 0 16px 0;
        padding: 0;
    }

    #contenedor_principal #contador_multitud_mobile{
        display: flex;
    }

    #contenedor_principal #contenedor_cartas_multitudes #contenedor_cards{
        max-height: 76vh;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

        #contenedor_principal #contenedor_cartas_multitudes #contenedor_cards .card-multitud{
            margin: 0;
            width: 100%;
        }
}

@media(max-width: 767px){
    #contenedor_principal{
        width: clamp(260px, 100%, 600px);
    }
        #contenedor_principal #contenedor_saludo{
            padding: 0;
            margin: 0 0 16px 0;
        }

        #contenedor_principal #contador_multitud_mobile{
            display: flex;
        }

            #contenedor_principal #contenedor_cartas_multitudes #contenedor_cards{
                max-height: 78vh;
                grid-template-columns: 100%;
                gap: 1em;
                width: 100%;
            }

                #contenedor_principal #contenedor_cartas_multitudes #contenedor_cards .card-multitud{
                    width: 100%;
                }

                    #contenedor_cards .card-multitud .contenedor-titulo h2{
                        font-size: 1.5em;
                    }

                #contenedor_cartas_multitudes #contenedor_cards .card-multitud h3{
                    font-size: 1.2em;
                }

                #contenedor_cartas_multitudes #contenedor_cards .card-multitud h4{
                    font-size: 1em;
                }
}


