.oculto {
    display: none; /* aqui ocultamos elementos con esta clase */
}

.visto {
    display: table-cell !important; /* mostramos los elementos como celdas de tabla */
}

/* estilo para los selectores */
select {
    border-radius: 10px; 
    border: 1px solid #ccc; 
    padding: 10px; 
    width: 200px; 
}

select:focus {
    border-color: rgb(151, 151, 156); 
    outline: none; 
}

.button-box button {
    border-radius: 20px ; 
    border: 1px solid var(--color-teciciario);
    background-color: var(--color-primario); 
    color: var(--color-texto); 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    display: inline-block; 
}

.button-box button:hover {
    background-color: var(--color-secundario);
}

/* sstilo de las etiquetas de los selectores y el campo de búsqueda */
label {
    color: var(--color-texto);    
}

/* estilo para el contenedor de selección múltiple */
.select-multiple {
    width: max-content;
}

/* sstilo para el contenedor de botones */
.button-box {
    position: relative; 
}



/* Estilo para las celdas de la tabla con la clase scrolled */
.listado_vigilantes th.scrolled {
    background-color: var(--color-teciciario); /* Color de fondo para las celdas con la clase scrolled */
    color: var(--color-primario); /* Color del texto para las celdas con la clase scrolled */
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    /* Ajustes para la vista móvil */
    .filtros {
        padding: 10px; 
        flex-wrap: wrap; /* aqui es para que los elementos se ajusten en varias lineas */
    }

    .filtros > * {
        width: 100%; 
        margin: 5px 0;
    }

    .select-multiple {
        display: none;
    }

    .button-box {
        width: 100%; 
        flex-direction: column; 
    }

    .button-box button {
        width: 100%;
        margin-bottom: 10px; 
    }

    .input-box {
        width: 100%; 
        margin-top: 10px; 
    }

    .tabla-contenedor {
        width: 100%; 
        margin-top: 20px; 
        overflow-x: auto; 
    }

    /* ajustes de la tabla en la vista móvil */
    .listado_vigilantes {
        min-width: auto; 
        width: 100%; 
        margin-top: 20px; 
    }

    .listado_vigilantes thead {
        display: none; /* aqui oculto la cabesera de la tabla */
    }

    /* sstilo para las cards en la vista móvil */
    .listado_vigilantes tbody tr {
        display: block; /* muestra las filas como bloques */
        margin: 15px auto; /* centra las cards */
        background-color: white; 
        border-radius: 15px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
        padding: 15px; 
        width: 90%; 
        cursor: pointer; 
        border: none; 
        border-bottom: 4px solid var(--color-teciciario); /* Agrega borde de separación */
    }

    .listado_vigilantes td {
        display: block; /* muestra las celdas como bloques */
        padding: 8px 15px;
        white-space: normal; 
        border-bottom: none; /* Elimina el borde inferior */
    }

    /* campos visibles por defecto */
    .listado_vigilantes td.nombres,
    .listado_vigilantes td.apellidos{
        display: block; /* aqui mostramos los campos bascos */
        white-space: normal;
        
    }

    /* etiquetas de campos */
    .listado_vigilantes td::before {
        content: attr(data-label); /* aqui se encarga de mostrar el texto de la etiqueta */
        font-weight: bold; 
        display: block;
        margin-bottom: 5px; 
    }

    /* Tarejtas expandidas */
    .listado_vigilantes tr.expanded td {
        display: block; /* aqui se muesta todas las celdas cuando se expanda la carta */
    }

    /* con este se ocultan las celdas que no se van a mostrar */
    .listado_vigilantes td {
        display: none; /* oculta todas */
        padding: 8px 15px; 
        white-space: normal;
    }

    /* campos visibles por defecto */
    .listado_vigilantes td.nombres,
    .listado_vigilantes td.apellidos
     {
        display: block; /* Muestra campos básicos siempre */
        white-space: normal;
    }
}

/* media para vista web */
@media (min-width: 769px) {

    .filtros {
        flex-wrap: nowrap; /* Mantiene los elementos en una sola línea */
        align-items: center;
    }
    
    #filtro {
        width: 400px; 
    }

    /* asegurar que los inputs se comporten correctamente */
    .filtros select {
        width: auto; /* ancho automático para los selectores */
    }

    /* agregar scroll a la tabla solo en vista web */
    .tabla-contenedor {
        overflow-y: auto; /* agrega scroll vertical */
        max-height: 400px; /* altura máxima para la tabla */
    }
}