
#gran_padre_regis_vs{   
    background: url('../img/fondo-login.png') left center / cover no-repeat;
    width: 100%;
    margin: 0;
    height: 100vh;
    padding: 0;
    position: relative;
    display: grid;
    place-items: center;
}
    section#contenedor_ppal_rg_vs{

        width: clamp(338px, 88.9%, 518px);
       
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em 0 2em 0;
        background: rgba(105, 105, 105, 0.06);
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(50px);
        border-radius: 30px;
        justify-content: space-between;

    }

        header#contenedor_titulo_form{
            display: flex;
            width: 302px;
            margin-bottom: 20px;
            justify-content: center;
    
        }
            #contenedor_titulo_form div#cont_title{
                
                display: flex;
                flex-direction: column;
                align-items: center;
            }
                #contenedor_titulo_form div#cont_title h1#title_logo{
                    margin: 0;
                    padding: 0;
                    font-weight: 700;
                    font-size: clamp(30px, 64%, 54px);
                    margin-bottom: 10px;
                    color: var(--color-secundario);
                }
                #contenedor_titulo_form div#cont_title h3#subtitle_logo{
                    margin: 0;
                    width: 96%;
                    font-size: 16px;
                    text-align: center;
                    color: rgb(146, 146,146);
                }
        div#contenedor_formulario_regis_vs{
            width: clamp(272px, 80%, 480px);
        }
            #contenedor_formulario_regis_vs form{

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
            #contenedor_formulario_regis_vs form #btn_registrarme{
                display: none;
            }
            #contenedor_formulario_regis_vs form #btn_atras{
                display: none;
            }
            #caja_02_registro {
                display: none;
            }
               @keyframes slideIn {
                    from {
                        transform: translateX(10%);
                        opacity: 0;
                    }
                    to {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
                
                #caja_02_registro {
                    animation: slideIn 0.5s ease-out;
                }
                #caja_01_registro {
                    animation: slideIn 0.5s ease-out;
                }
                    #contenedor_formulario_regis_vs form#forma_acceso_02 .label-input{
                        color: var(--color-primario);
                        font-size: 20px;
                        padding-left:12px;
                        margin-bottom: 5px;
                    }
                    
                    #contenedor_formulario_regis_vs form#forma_acceso_02 .compo-invalido{
                        display: none;
                        color: red;
                        font-size: 10px;
                        padding-left:12px;
                        margin-bottom: 5px;
                    }
                    #contenedor_formulario_regis_vs form#forma_acceso_02 .campo{
                        width: 100%;
                        height: 60px;
                        background: var(--background-inputs);
                        border: none;
                        font-size: 16px;
                        border-radius: 13px;
                        padding-left: 10px;
                        margin: 5px 0 0px 0;
                    }
                    #contenedor_formulario_regis_vs form#forma_acceso_02 .campo:focus{
                        outline: none; 
                        border: none;
                    }
                    
                    #contenedor_formulario_regis_vs form#forma_acceso_02 .formatoInvalidado{
                        width: 100%;
                        height: 60px;
                        background: var(--background-inputs);
                        border: 3px solid rgb(230, 101, 101) !important;
                        font-size: 16px;
                        border-radius: 13px;
                        padding-left: 10px;
                        margin: 5px 0 0px 0;
                    }
                    #contenedor_formulario_regis_vs form#forma_acceso_02 .input-caja-registro{
                        font-size: 16px;
                        margin-bottom: 15px;
                        color: var(--color-placeholder);
                    }
                    #contenedor_formulario_regis_vs form#forma_acceso_02 .campo::placeholder{
                        font-size: 16px;
                        color: var(--color-placeholder);
                    }       
                            form#forma_acceso_02 div#cont_btn_form_regis_visi {
                                display: flex;
                                width: 100%;
                            }
                                form#forma_acceso_02 div#cont_btn_form_regis_visi #btn-siguiente {
                                    
                                    align-items: center;
                                    justify-content: center;
                                    width: 100%;
                                }  
                                form#forma_acceso_02 div#cont_btn_form_regis_visi #btn_atras {
                                    align-items: center;
                                    justify-content: center;
                                    width: 21%;
                                    background-color: #c9c9c9;
                                    color: rgb(85, 85, 85);
                                    margin-right: 9px;
                                    font-size: 47px;
                                }
                                form#forma_acceso_02 div#cont_btn_form_regis_visi #btn_registrarme {
                                    width: 76%;
                                }     
                                form#forma_acceso_02 button {
                                    background-color: var(--color-secundario);
                                    color: var(--color-primario);
                                    font-size: 20px;
                                    height: 60px;
                                    margin-top: 38px;
                                    border: none;
                                    border-radius: 21px;
                                    
                                }

                            .oculto{
                                display: none !important;
                            }