#contenedor_principal {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

    #contenedor_principal #contenedor_filtros {
        column-gap: 10px;
        display: flex;
        justify-content: end;
        padding: 1rem 0;
        width: 100%;
    }

        #contenedor_principal #contenedor_filtros .filtro{
            align-items: center;
            border: 1px solid #d8d8d8;
            border-radius: 13px;
            background: white;
            display: flex;
            font-size: 17px;
            gap: 0.5rem;
            padding: 0 10px;
            height: 40px;
            width: clamp(220px, 20%, 600px);
            
        }

            #contenedor_principal #contenedor_filtros  .filtro input, select{
                border: none;
                font-size: 17px;
                outline: none;
                width: 100%;
            }

            #contenedor_principal #contenedor_filtros .filtro ion-icon{
                font-size: 25px;
            }

    #contenedor_principal #contenedor_tabla_cards{
        align-items: center;
        display: flex;
        flex-direction: column;
        max-height: 75vh;
        overflow-y: auto;
        width: 100%;
    }

    #contenedor_principal #contenedor_tabla_cards::-webkit-scrollbar{
        background: transparent;
        width: 8px;
    }

    #contenedor_principal #contenedor_tabla_cards::-webkit-scrollbar-thumb{
        border-radius: 20px;
        background-color: rgb(180, 180, 180);
    }

        #contenedor_principal #contenedor_tabla_cards #tabla_vehiculos {
            border-collapse: collapse;
            border-radius: 20px;
            background: var(--color-primario);
            text-align: center;
            width: 100%;
        }

            #contenedor_principal #contenedor_tabla_cards #tabla_vehiculos tr{
                border-bottom: 2px solid rgb(219, 219, 219);
            }

            #contenedor_principal #contenedor_tabla_cards #tabla_vehiculos thead {
                background-color: var(--color-secundario);
                color: white;
                font-size: 1em;
                left: 0;
                position: sticky;
                top: 0;
                z-index: 1;
            }

                #contenedor_tabla_cards #tabla_vehiculos thead th{
                    font-weight: bolder;
                    padding: 1rem;
                }

                #contenedor_tabla_cards #tabla_vehiculos tbody td{
                    padding: 1rem;
                }

                    #tabla_vehiculos tbody td ion-icon{
                        font-size: 25px;
                        cursor: pointer;
                        color: var(--color-secundario);
                    }

                #contenedor_tabla_cards #tabla_vehiculos thead th:first-child {
                    border-radius: 20px 0 0 0;  
                }

                #contenedor_tabla_cards #tabla_vehiculos thead th:last-child {
                    border-radius: 0 20px 0 0;  
                }

    #contenedor_principal #contenedor_tabla_cards .document-card-vehiculo {
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        font-family: Arial, sans-serif;
        margin: 10px;
        margin:0 0 10px 0;
        transition: all 0.3s ease;
        width: 100%;
      }
  
        #contenedor_principal #contenedor_tabla_cards .document-card-vehiculo .card-header {
            padding: 10px 10px 0px 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
  
            #contenedor_tabla_cards .document-card-vehiculo .card-header .document-title {
                font-size: 1.1em;
                font-weight: bold;
                color: #333;
                margin: 0;
            }
  
            #contenedor_tabla_cards .document-card-vehiculo .card-header .document-meta {
                font-size: 0.9em;
                color: #555;
                margin: 5px 0;
            }

        #contenedor_tabla_cards .document-card-vehiculo .contenedor-acciones {
            display: none;
            justify-content: end;
            max-height: 0;
            font-size: 0.9em;
            color: var(--color-primario);
            margin-top: 10px;
        }

        #contenedor_tabla_cards .document-card-vehiculo.active .contenedor-acciones {
            display: flex;
            max-height: 150px;
            padding: 0 10px 10px;
        }

            #contenedor_tabla_cards .document-card-vehiculo.active .contenedor-acciones .ver-propietarios{
                font-size: 25px;
                color: var(--color-secundario);
            }
    
        #contenedor_tabla_cards .document-card-vehiculo .toggle-icon {
            font-size: 1.2em;
            transform: rotate(0deg);
            transition: transform 0.5s ease;
        }
  
        #contenedor_tabla_cards .document-card-vehiculo.active .toggle-icon {
            transform: rotate(180deg);
        }

    .mensaje-respuesta{
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }

/* ---------------------------------------Estilos Modal propietarios vehiculo--------------------------------------------------*/

    #contenedor_modales #modal_propietarios{
        width: clamp(450px, 50%, 850px);
    }

    #contenedor_modales #modal_propietarios .contenedor-info-modal{
        padding: 1em;
    }

    #contenedor_modales #modal_propietarios #cont_info_modales{
        overflow-y: auto;
        max-height: 450px;
        width: 100%;
    }

    #contenedor_modales #modal_propietarios #cont_info_modales::-webkit-scrollbar{
        background: transparent;
        width: 6px;
    }

    #contenedor_modales #modal_propietarios #cont_info_modales::-webkit-scrollbar-thumb{
        border-radius: 20px;
        background-color: rgb(180, 180, 180);
    }
    
        #contenedor_modales #modal_propietarios #tabla_propietarios {
            border-collapse: collapse;
            border-radius: 20px;
            background: var(--color-primario);
            text-align: center;
            width: 100%;
        }

            #contenedor_modales #modal_propietarios #tabla_propietarios tr{
                border-bottom: 2px solid rgb(219, 219, 219);
            }

            #contenedor_modales #modal_propietarios #tabla_propietarios thead {
                background-color: var(--color-secundario);
                color: white;
                left: 0;
                position: sticky;
                top: 0;
                z-index: 1;
            }

                #modal_propietarios #tabla_propietarios thead th{
                    font-weight: normal;
                    padding: 8px;
                    text-transform: capitalize;
                }

                #modal_propietarios #tabla_propietarios tbody td{
                    padding: 8px;
                }

                    #tabla_propietarios tbody td .eliminar-propietario{
                        cursor: pointer;
                        color: red;
                        font-size: 25px;
                    }

            #modal_propietarios #tabla_propietarios thead th:first-child {
                border-radius: 20px 0 0 0;  
            }

            #modal_propietarios #tabla_propietarios thead th:last-child {
                border-radius: 0 20px 0 0;  
            }

        
        #contenedor_modales #modal_propietarios .document-card-propietario {
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            font-family: Arial, sans-serif;
            margin: 10px;
            margin:0 0 10px 0;
            transition: all 0.3s ease;
            width: 100%;
        }
  
            #contenedor_modales #modal_propietarios .document-card-propietario .card-header {
                align-items: center;
                display: flex;
                justify-content: space-between;
                padding: 10px 10px 0px 10px;
            }
  
                #modal_propietarios .document-card-propietario .card-header .document-title {
                    font-size: 1.1em;
                    font-weight: bold;
                    color: #333;
                    margin: 0;
                }
  
            #modal_propietarios .document-card-propietario .card-header .document-meta {
                font-size: 0.9em;
                color: #555;
                margin: 5px 0;
            }
  
        #contenedor_modales #modal_propietarios .document-card-propietario .card-details {
            color: #555;
            display: none;
            flex-direction: column;
            font-size: 0.9em;
            transition: max-height 0.5s ease;
        }
  
        #contenedor_modales #modal_propietarios .document-card-propietario.active .card-details {
            display: flex;
            padding: 10px 10px 0px 10px;
        }


        #contenedor_modales #modal_propietarios .document-card-propietario .contenedor-acciones {
            color: var(--color-primario);
            display: none;
            font-size: 0.9em;
            justify-content: end;
            max-height: 0;
            margin-top: 10px;
            overflow: hidden;
        }

        #contenedor_modales #modal_propietarios .document-card-propietario.active .contenedor-acciones {
            display: flex;
            max-height: 150px;
            padding: 0 10px 10px;
        }

            #modal_propietarios .document-card-propietario.active .contenedor-acciones .eliminar-propietario{
                font-size: 25px;
                color: red;
            }

        #contenedor_modales #modal_propietarios .document-card-propietario .toggle-icon {
            font-size: 1.2em;
            transform: rotate(0deg);
            transition: transform 0.5s ease;
        }
  
         #contenedor_modales #modal_propietarios .document-card-propietario.active .toggle-icon {
            transform: rotate(180deg);
        }

@media(min-width: 768px) and (max-width: 1023px){
    #contenedor_principal #contenedor_filtros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
    }

        #contenedor_principal #contenedor_filtros .filtro{
            width: 100%;
        }

    #contenedor_principal #contenedor_tabla_cards{
        align-items: start;
        column-gap: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-height: none;
        overflow: hidden;
    }

        #contenedor_principal #contenedor_tabla_cards .document-card-vehiculo{
            height: 65px;
        }

        #contenedor_principal #contenedor_tabla_cards .document-card-vehiculo.active{
            height: auto;
        }

}

@media(max-width: 767px){
    #contenedor_principal{
        flex-direction: column;
        row-gap: 10px;
        width: clamp(300px, 100%, 450px);
    }

        #contenedor_principal #contenedor_filtros{
            flex-direction: column;
            row-gap: 10px;
        }
            #contenedor_principal #contenedor_filtros .filtro{
                width: 100%;
            }

        #contenedor_principal #contenedor_tabla_cards{
            max-height: none;
            overflow: hidden;
        }

    /* -------------------------------------------------- Estilos Modal propietario vehiculo ----------------------------------*/
    #contenedor_modales #modal_propietarios{
        width: clamp(300px, 92.5%, 450px);
    }

}